@page "/transfer"
@page "/transfer/{name}"
@using server.Shared.Components
@inherits TransferBase

<h3>Transfer</h3>

<MyRadioButton Id="group1" OnSelected="TransferTypeChanged">
	<RadioButtonOptionItem Item="Pay">Betala för</RadioButtonOptionItem>
	<RadioButtonOptionItem Item="Transfer">Överföring</RadioButtonOptionItem>
</MyRadioButton>

@if (TransferType == TransferTypeEnum.Pay)
{
	@*BUG: When selecting a child in this radio group, the other radio group loses the selection
Should work with the fieldset, but it doesn't*@
	<MyRadioButton Id="group2" OnSelected="ChildChanged">
		@foreach (var child in children)
		{
			<RadioButtonOptionItem Item="@child.Name">@child.Name</RadioButtonOptionItem>
		}
	</MyRadioButton>
	@*TODO: what is a better way to check if we have a value when using records? *@  
	@if (ModelPage.Child?.Name.Length > 1)
	{
		<div>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="description">Sak</span>
				</div>
				<input class="form-control" placeholder="Godis" id="description" type="string" max="20" 
				       @bind="@PayModel.Description"
				       aria-describedby="description"/>
			</div>
        
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="money">Pengar</span>
				</div>
				<input class="form-control" type="number" 
				       min="1"
				       max="@ModelPage.Child.Balance"
				       aria-describedby="money"
				       @bind="@ModelPage.Cost"/>
				<div class="input-group-append">
					<span class="input-group-text">@ModelPage.Child.Balance SEK</span>
				</div>
			</div>
		</div>	
	}
}

@* TODO: after pressing button we should update the controls, maybe reset them *@
<button class="btn-primary btn" @onclick="@DoTransfer">Send</button>